/* descendantselectorexample.css */
        /* Style for the parent element */
        .parent {
            background-color: lightblue;
            padding: 20px;
        }

        /* Style for the descendant element */
        .parent p {
            color: darkblue;
            font-size: 40px;
        }

        /* Style for the descendant element */
        .parent div {
            background-color: lightgreen;
            font-size: 12px;
        }

        
        .parent div p{
            background-color: rgb(238, 216, 144);
            font-size: 40px;
        }

        li {
            color: rgb(238, 3, 3);
            font-size: 20px;
        }




