body{
    font-family: Arial,sans-serif;
    background-color: whitesmoke;
    color: gray;
    margin-right: 25%;
    margin-left: 25%;
    

}
.leftside{
    background: black;
    color: white;
    width: 25%;
    padding: 30px 20px;
    text-align: center;
    
}

.myresume{
    display: flex;
    justify-content: space-between;
    max-height: 1000vh;
    margin-right: 10px;
    margin-left: 20px;
    padding: 20px;
    background: whitesmoke;
    
}

.profilepicture img{
    width: 100px;
    height: 105px;
    border-radius: 200px;
    margin-right: 20px;
}
.profilepicture h1{
    margin: 1;
    font-size: 16px;
    
}

.rtitle{
    font-size: 13px;
    color:whitesmoke;
    
    
}
.myresume ul{
    padding-left: 18px;
}

.section{
    margin-bottom: 25px;
    text-align: left;
}
.section a{
    font-size: 11px;
    color: white;
}
.section h3{
    font-size: 15px;

    line-height: 1.5;
    padding-bottom: 5px;
    margin-bottom: 10px;
    

}
.section p{
    font-size: 13px;
    line-height: 1.5;
}
.rightside .section h2{
    font-size: 20px;
    margin-left: 40px;
    justify-content: space-between;
     color: black;
    line-height: 0.7;
}
.rightside .section p{
    margin-left: 40px;
    color: black;
    
}
.rightside .section ul{
    font-size: 13px;
    margin-left: 40px;
    color: black;
    
}

.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px, 1fr));
    gap: 10px;
    color: black;
    margin-left: 40px;
}

