body{
    font-family: Arial,sans-serif;
    margin: 0;
    background-color: whitesmoke;
    color: grey;
}
.resume{
    background: black;
    color: white;
    width: 35%;
    padding: 30px 20px;
    text-align: center;
}

.myresume{
    width: 80%;
    max-height: 1000px;
    margin: auto;
    padding: 20px;
    background: whitesmoke;
}

.profilepicture img{
    width: 100px;
    height: 100px;
    border-radius: 200px;
    margin-right: 20px;
}
.name h1{
    margin: 1;
    font-size: 17px;
    color: whitesmoke;
}

.rtitle{
    font-size: 14px;
    color:whitesmoke;
}

.section{
    margin-bottom: 25px;
    text-align: left;
}

.section h2{
    font-size: 14px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: white;

}


