body{
    font-family: Arial,sans-serif;
    margin: 0;
    background-color: whitesmoke;
    color: gray;
}
.resume{
    
    background: black;
    color: white;
    width: 25%;
    padding: 30px 20px;
    text-align: center;
}

.myresume{
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-height: 1000px;
    margin-right: 10px;
    margin-left: 20px;
    padding: 20px;
    background: whitesmoke;
}

.profilepicture img{
    width: 100px;
    height: 100px;
    border-radius: 200px;
    margin-right: 20px;
}
.profilepicture h1{
    margin: 1;
    font-size: 16px;
    color: whitesmoke;
}

.rtitle{
    font-size: 13px;
    color:whitesmoke;
    
    
}
.myresume ul{
    padding-left: 18px;
}

.section{
    margin-bottom: 25px;
    text-align: left;
}
.section a{
    font-size: 11px;
    color: white;
}
.section h3{
    font-size: 14px;
    
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: white;

}
.section p{
    font-size: 13px;
    line-height: 1.2;
}
.rightside .section h2{
    
    margin-left: 20px;
    justify-content: space-between;
    
    background: white;
    
    color: black;
}
.rightside .section p{
    margin-left: 20px;
    color: black;
    background: white;
}
.rightside .section ul{
    font-size: 13px;
    margin-left: 20px;
    color: black;
    background-color: white;
}

.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px, 1fr));
    gap: 10px;
    color: black;
    margin-left: 20px;
    
}

