@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
     font-weight: 400;
     font-style: normal;
}
body{
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 40px;
    background-color: black;
    padding: 0px 50px;
    color: white;
    display: flex;
    justify-content: end;
    align-items: end;   
}
header nav{
    width: 100%;
   margin-bottom: 7px;
   margin-right: 90px;
   font-size: 14px;  
}
header nav .main-manu{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    gap: 15px;
}
header nav .main-manu li {
    gap: 20px;
    font-weight: 600;   
}
header nav .main-manu li a{
    list-style: none;
    color: white;
   text-decoration: none;
}
.second-head{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    padding-top: 6px;
    background-color: white;
    
}
.second-head  img{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 80px;
    margin-left: 80px;
    margin-right: 17px;

}
.second-head .second-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
   
}
.second-head .second-heading .second-h{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 100px;
    margin-left: 50px;
    text-decoration: none;
    
}
.second-head .second-heading .second-h li{
    list-style: none;
    font-size: 14px;
    margin-left: 0px;
    position: relative;
    display: flex;
    

}
.second-head .second-heading .second-h li a{
    text-decoration: none;
    position: relative;
    display: flex;
    color: black;
    font-weight: 600;
    
 
}
 .second-heading .second-h li a:hover::after{
    width: 100%;
}
.second-h li a::after{
    content: '';
    display: block;
    height: 5px;
    background-color: red;
    
    width: 0%;
    top: 30px;
    position: absolute;
    transition: 0.5s all linear;
}

.third{
   position: relative;
   overflow: hidden;
}
.thirdcontent{
    width: 100%;
    display: flex;
    animation: slide 6s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0)
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
    

}
.thirdcontent img{
    width: 100%;
    
}
.content p{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding: 50px;
}
.middle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30vh;
}
.middle .image img{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    gap: 20px;
}
.middle p{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: underline;
    margin-top: 22px;
    gap: 80px;
}
.middle h4{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 22px;
    margin-left: 15%;
    margin-right: 15%;
}
 .middle button{
    color: white;
    background-color: black;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border-color: yellow;
    margin-left: 35%;
    margin-top: 22px;
}
.middle button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.fifth{
    width: 100%;
    height: 100vh;
    background-color: grey;
    color: white; 
}
.fifth .fifthcontent h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: 600;
    padding-top: 50px;
}
.fifth .fifthcontent p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-style: italic;
}
.fifth .fifthimage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap: 40px;
     width: 100%;
    transition: 1s all linear; 
}
.fifth .fifthimage:hover {
     transform: scale(1.1);
}
.sixth{
    background-color: rgb(250, 237, 237);
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.sixth .sixthcontent h1{
    font-size: 50px;
    font-weight: 510;
    text-align: center;
    padding-top: 20px;
}
.seven{
    width: 100%;
    background-color: rgb(250, 237, 237);
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
}
.seven .sevenimage img{
    width: 55vh;
    height: 40vh;
    margin-left: 50px;
   
   padding-bottom: 50px;
}
.sevencontent h1{
     font-weight: 600;
}
.sevencontent h4{
    padding-top: 30px;
}
.seven button{
    background-color: white;
    color: black;
    width: 160px;
    height: 50px;
    border-color: black;
    margin-left: 80%;
    margin-top: 20px;
}
.seven button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.eight{
    width: 100%;
    background-color: white;
    padding-top: 50px;
}
.eight h1{
    font-size:40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.nine{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 40px;

}
.ninecontent{
    align-items: center;
}
.circle{
    width: 170px;
    height: 170px;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    margin: 0 auto 10px;
    color: black;
    border-radius: 90px;
}
.ninecontent p{
    font-size: 19px;
    color: #555;
    padding-bottom: 30px;
    margin-left: 15px;
}
.ten{
    background-color: black;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.ten .tencontent h1{
    font-size: 50px;
    font-weight: 510;
    text-align: center;
    padding-top: 20px;
    color: white;
}
.ele{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
}
.ele .eleimage img{
    width: 70vh;
    height: 50vh;
    margin-left: 50px;
   padding-bottom: 50px;
}
.elecontent h4{
    padding-top: 30px;
    color: white;
   padding-right: 120px;
}
.ele button{
    background-color: black;
    color: white;
    width: 160px;
    height: 50px;
    border-color:white;
    margin-left: 70%;
    margin-top: 20px;
}
.ele button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.twe{
    width: 100%;
    background-color: rgb(243, 239, 239);
    padding-top: 60px;
    padding-bottom: 60px;

}
.twecontent h1{
    font-size: 55px;
    font-weight: 600;
    display: flex;
    text-align: center;
    justify-content: center;

}
.twe .twecontent2{
    width: 1000px;
    height: 300px;
    border: 2px solid rgb(216, 211, 211);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto 10px;
    color: black;
    margin-top: 50px; 
}
.twecontent2 p{
    font-style: italic;
    width: 70vh;
    height: 40vh;
    box-sizing: border-box;
    border-color: black;
    padding-top: 35px;
}
.contact-section{
    width: 100%;
    background: url('../image/gggg.webp');
    padding: 80px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.contact-section h3{
    font-size: 50px;
    font-weight: 700;
}
.contact-section img{
    padding: 50px 20px;
    width: 32vh;
}
.last{
    width: 100%;
    padding-bottom: 10px;
    background-color: black;
}
.lastclass{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     max-width: 1200px;
     margin: auto;
}
.lastline{
    flex: 1 1 220px;
    margin: 10px;
}
.lastline h1{
    color: white;
    margin-bottom: 15px;
    font-size: 25px;
}
.lastline h1::after{
    content: "";
    display: block;
    margin-top: 8px;
    width: 40px;
    height: 1px;
    background-color: orange;
}
.lastline p,.lastline li{
    font-size: 12px;
    line-height: 1.6;
    color: #ddd;
    text-decoration: none;
    list-style: none;
}



@media only screen and (max-width:600px){
    header nav{
    width: 100%;
   margin-bottom: 7px;
  
   font-size: 10px;  
}

}
.