


body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(254, 139, 210);
    font-size: 8px;
}
header a{
    text-align: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.nav{
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    position: relative;
    box-shadow: 3px 1px 3px 3px rgb(180, 29, 54);
}
.nav .menu-icon{
    color: black;
    font-size: 26px;
    display: flex;
    align-items: center;
   padding-left: 40px;
}
.nav .menu-icon:hover{
    color: brown;
    transition: 0.6s ease-in-out;
}
.nav .menu-icon a{
    color: black ;
}
.nav .menu{
     display: flex;
}
.nav .menu .ull{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}
.nav .menu .ull li{
    list-style: none;
    gap: 40px;
    font-size: 20px;
    padding-left: 30px;
    position: relative;
}
.nav .menu .ull li a{
   text-align: center;
   color: black;
   text-decoration: none;
   cursor: pointer;
   position: relative;
}
.nav .menu .ull li a:hover::after{
    width: 100%;
}
.nav .menu .ull li a:hover{
    color: rgb(70, 63, 63);
}
.ull li a::after{
    content: '';
    display: block;
    height: 2px;
    background: rgb(180, 29, 54);
    transition: width 0.3s;
    width: 0;
    position: absolute;
    top: 30px;
   
}
.backimage img{
   width: 100%;
}
.middle{
    height: 60vh;
    background-color: white;
    border: solid rgb(46, 19, 19);
    position: relative;
}
.middle h2{
    text-align: center;
    font-size: 50px;
   padding: 0px 400px;
   color: solid #1f0202;
   font-weight: 300;
   margin-top: 40px;
}
.middle p{
    text-align: center;
    font-size: 30px;
   color: #1f0202;
   font-weight: 200;
}
.category{
    border-top: solid rgb(46, 19, 19) 8px;
    margin-top: 2px;
    padding: 20px 60px;
    margin: auto;
    flex-direction: row-reverse;
}
.category .categorycontent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 60px;
    font-weight: 200;
    color: #1f0202;
}
.categorylist {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(330px, 1fr));
    gap: 20px;
}

.categoryimage{
    background:white;
    border-radius: 12px;
    text-align: center;
    transition: transform 0.3s ease;
}
.categoryimage:hover{
    transform: translateY(-20px);
   
}
.categoryimage img{
    width: 80%;
    height: 380px;
    border-radius: 8px;
    margin-bottom: 15px;
   border: rgb(210, 177, 134) 4px solid;
}
.categoryimage h3 {
    font-size: 25px;
    font-weight: 300;
    color: #1f0202;
}
.categoryimage a{
    text-decoration: none;
}
.middle2 p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding: 60px 180px;
}
.lastimage{
    width: 100%;
    background-color: beige;
}
.lastimagecontent{
   display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 10px;  
}
.salesaree img{
    border-radius: 8px;
    border: solid brown 6px;
    width: 270px;
    height: 270px;
}
.salesaree img:hover{
    transform: scale(1.14);
    transition: 0.3s ease;
}
.salesaree p{
    color: rgb(92, 36, 36);
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}
.salesaree p:hover::after{
    width: 100%;
}
.salesaree p::after{
    content: '';
    display: block;
    height: 1.9px;
    background-color: rgb(62, 36, 36);
    transition: width 0.5s;
    width: 0;
    position: relative;
    top: 4px;
}
.salesaree h3{
    text-align: center;
    color: rgb(92, 36, 36);
    font-size: 15px;
    cursor: pointer;
}
button{
    width: 130px;
    height: 50px;
    background-color: brown;
    border-radius: 25px;
    color: white;
    margin: 20px 700px;
    font-size: 16px;
    
}
button:hover{
    background-color: silver;
    color: brown;
    border-color: rgb(42, 36, 36);
    transition: 0.3s ease;
     transform: scale(1.14);
}
a{
    color: white;
    text-decoration: none;

}
.footer{
    border-top: #bcbaba solid 1px;
}
.footercontent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 60px 120px;
}
.footercontentmain h2{
    color: rgb(62, 36, 36);
    font-size: 28px;
    font-weight: 250;
}
.footercontentmain p{
    color:  rgb(62, 36, 36);
}
.footercontentmain li{
    color:  rgb(62, 36, 36);
    list-style: none;
    padding-top: 14px;
    font-size: 20px;
}
.footercontentmain li a{
    text-decoration: none;
    font-size: 17px;
    color:  rgb(62, 36, 36);
}
.footercontentmain li a:hover::after{
    width: 30%;
}
li a::after{
   content: '';
    display: block;
    height: 1.9px;
    background-color: rgb(71, 58, 58);
    transition: width 0.5s;
    width:0 ;
    position: relative;
    
}
.email h2{
    font-size: 28px;
    font-weight: 50;
    color: rgb(62, 36, 36);
    padding-left: 25px;
}
.email input{
    width: 350px;
    height: 45px;
    font-size: 20px;
    border: solid #251313;
    border-radius: 20px;
}
 .icon{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    padding-top: 70px;
}
.icon a{
    text-decoration: none;
    color: rgb(62, 36, 36);
    font-size: 25px;
}
