body{
    font-family: Arial,sans-serif;
    margin: 0%;
    background-color: black;
    
}


.top{

    background-color: blue;
    padding: 1px 2px;
    position: relative;
    
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;


}
.main{
    display: flex;
    justify-content: center;
    background-color: rgb(53, 53, 70);
    color: white;
    align-items: center;
    padding: 20px 30px;
    position: relative;
    font-weight: bold;
    gap: 20px;

}

.sidebar{
    width: 60px;
    background-color: rgb(70, 70, 102);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: fixed;
    left: 0;

    border-right: 1px solid #312f3e;
}
.sidebar a img{
    font-size: 12px;
    width: 30px;
    height: 30px;
    color: white;
    margin-left: 15px;
    margin-bottom: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
.left, .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}



.small{
    width: 137vh;
    height: 7vh;
    margin-left: 60px;
    background-color: rgb(175, 100, 245);
    
}
.small h1{
    font-size: 22px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}
.medium {
    width: 137vh;
    height: 20vh;
    margin-left: 60px;
    background-color: rgb(48, 48, 99);
    display: flex;
    justify-content: center;


}
.medium img{
    font-size: 20px;
    height: 70px;
    width: 70px;
    border-radius: 40px;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;


}
.medium h1{
    color: rgb(209, 221, 228);
}
.large {
    width: 50vh;
    height: 42vh;
    margin-right: 0px;
    background-color: rgb(48, 48, 99);

    
    

}
.large img{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 20px;
    position: relative;
    top: -15px;
    
    
    

}
.large h3{
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    
}
.large p{
    display: flex;
    
    position: relative;
    top: -80px;
    margin-left: 100px;
    color: white;
    font-size: 16px;
}


.last{
    display: flex;
    
    position: relative;
    top: -450px;
    
}

.box3 h1{
    display: flex;
    transform: translate(80px,40px);
    color: rgb(186, 201, 238);
    align-items: right;
    font-size: 29px
   
}
.box3 p {
    display: flex;
    transform: translate(80px,40px);
    color: rgb(186, 201, 238);
    align-items: right;

}
.box3 strong{
    display: flex;
    transform: translate(80px,40px);
    color: rgb(186, 201, 238);
    font-size: 20px;
}
.box3 ul{

   transform: translate(80px,40px);
   color: rgb(186, 201, 238);
   align-items: right;

}
.box3 img{
   transform: translate(80px,40px);
}
.box3 h2{
     transform: translate(80px,40px);
     color: rgb(186, 201, 238);
     font-size: 24px;

}

.comment{
    width: 60%;
    margin-left: 70px;
    margin-bottom: 70px;
    background-color: #312f3e;
    padding: 20px;
    border-radius: 10px;
    color: white;
    position: relative;
    top: -400px;
}

.comment h3{
    margin-bottom: 15px;
    font-size: 18px;

}
.commentbox {
    display: flex;
    align-items: center;
    gap: 10px;
    
    padding: 10px;
    border-radius: 80px;
}
.commentbox img{
    width: 40px;
    height: 40px;
    border-radius: 80px;
}
.commentbox input{
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 10px;
    height: 40px;
}
.stop1{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 60px;
    margin-bottom: 0px;
    background-color: #312f3e;
    padding: 20px;
    height: 40vh;
    color: white;
    position: relative;
    top: -400px;
}
.stop{
    display: flex;
    gap: 10px;
    justify-content: center;
    
}
.stop img{
    width: 40px;
    height: 35px;
    display: flex;
    justify-content: center;

}
.stop2{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-style: normal;
}
.stop2 a{
    white-space: nowrap;
    display: flex;

    text-decoration: none;
    justify-content: center;
    color: white;
    gap: 10px;
    margin-top: 30px;
    
    
}
.s{
    display: flex;
    justify-content: center;
}

