
.logo{position:relative;}
.logo img{position: absolute; top:-20px;}
.mt-30{margin-top: 30px !important;}
@media(min-width:768px) and (max-width:991px) {.logo img{position: relative; top:auto;}}
.sticky{background-color: rgba(255,255,255,0.8); padding:20px 0px;}
.is-sticky .sticky .logo img{ top:0px; height:80px; width: auto;}
.heading-block.style-4.light h2{color:#FFFFFF;}
.service-slider{text-align: center; position: relative;}
.service-slider h6 {	margin: 20px 0;}
.service-slider p {	line-height: 24px;}
.service-slider hr {	width: 30px;	margin: 10px auto;	height: 2px;	margin-bottom: 20px;}
.service-slider .owl-nav div, .service-banner .owl-nav div{color: #000;	height: 53px;	width: 53px;	text-align: center;	border: 1px solid rgba(0,0,0,0.9);
	line-height: 50px;	font-size: 18px;}
.service-slider .owl-nav .owl-prev, .service-banner .owl-nav .owl-prev{	display: block !important;	position: absolute;	top: 50%;	left: -50px;}
.service-slider .owl-nav .owl-next, .service-banner  .owl-nav .owl-next{	display: block !important;	position: absolute;	top: 50%;	right: -50px;}
.footer-contact ul li{position: relative; color:#DDDDDD;padding-left:30px; line-height: 24px !important; margin-bottom: 20px;}
.footer-contact ul li i{position: absolute; left:0px; top:5px;}
.tp-caption.sft span{display: inline-block; background-color: #FFFFFF; color: #fa4e4e; padding: 3px 15px;}
.sub-banner span{display: inline-block; padding:5px 15px; background-color: #000;}
.list1 li{position: relative; padding-left: 25px; margin-bottom: 10px; display: block;}
.list1 li i{position: absolute; left: 10px; top:3px;}
.a-text{
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
    0% { color: #ff0000; }
    50% { color: #F6CC00; }
    100% { color: #ff0000; }
}
@-moz-keyframes color-change {
    0% { color: #ff0000; }
    50% { color: #F6CC00; }
    100% { color: #ff0000; }
}
@-ms-keyframes color-change {
    0% { color: #ff0000; }
    50% { color: #F6CC00; }
    100% { color: #ff0000; }
}
@-o-keyframes color-change {
    0% { color: #ff0000; }
    50% { color: #F6CC00; }
    100% { color: #ff0000; }
}
@keyframes color-change {
    0% { color: #ff0000; }
    50% { color: #F6CC00; }
    100% { color: #ff0000; }
}

.studio-rent .form-control{ border-radius:0px;  }
.promo-text p, .promo-block .promo-text ul li{color:#FFFFFF;}
.btn-light{border-color: #FFFFFF; color:#FFFFFF;}
.btn-light:hover{background-color: #FFFFFF; color:#000000;}
.video-page h5{line-height: 1.4; font-weight: 600; min-height:105px;}
.service-slider .item p{display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;
    text-overflow: ellipsis;}   
.ol-list{list-style-type:decimal;}
.ol-list li{list-style-type:decimal; margin-left: 40px; margin-bottom: 10px;}
#servicemodal .form-group, .contact-form .form-group{margin-bottom: 20px; position: relative;}
#servicemodal .form-control{ border-radius:0px; }
label.error{position: absolute; bottom:-20px; color: #ff0000; font-weight: 600; font-size: 11px; left:0px; text-transform: none;}
.contact-form label.error{left:20px;}
.form-control:focus{-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(20, 20, 20,.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(20, 20, 20,.6); border-color: #ff0000;
}
.content-img p img{float: left; padding:3px; background-color:#f0f0f0; border:1px solid #DDDDDD; margin:0px 15px 10px 0px; width:300px; height: auto;}
.list-style-1 li{position: relative; padding-left: 30px; margin-bottom: 10px;}
.list-style-1 li:before{font-family:'FontAwesome'; content: "\f061"; left:10px; top:-2px; color: #ff0000; position: absolute;}
.package{display: block; padding:20px 10px; text-align: center; background-color: #FFFFFF;}
.package span{font-size: 22px; font-weight: 600; color: #ff0000;}
.package b{font-size: 18px;}
.testimonials{display: block; position: relative; margin-bottom: 50px;}
.testimonials p{font-style: italic; font-size: 16px; line-height: 1.8;}
.testimonials h6{text-align:right; margin-top: 15px;}
.testimonials:after{position: absolute; bottom:-20px; width:200px; left:-100px; margin-left:50%; height: 2px; background-color: #000000; content:"";}
.home-slider .slick-prev{left:25px; z-index: 99;}
.home-slider .slick-next{right:25px; }
.home-slider .slick-prev:before, .home-slider .slick-next:before{font-size: 30px;}
@-webkit-keyframes fadeInUpSD {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInUpSD {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInUpSD {
    -webkit-animation-name: fadeInUpSD;
    animation-name: fadeInUpSD;
  }
  .home-slider .slide-content{position: absolute; bottom:0px; left:50px; right: 50px; opacity:0; padding: 10px 15px; background-color: rgba(255,255,255,0.9); border-radius: 10px; max-width: 600px; display: block;}
  .home-slider .slick-active .slide-content { animation-name: fadeInUpSD; animation-duration: 1s; opacity: 1; width: 100%; position: absolute; bottom:90px;}
  .single-item div{position: relative;}
  .slide-content h1{margin: 0px; padding:0px; font-size: 30px; color: #000; margin-bottom: 5px;}
  .slide-content h1 span{display: inline-block; background-color: #FFFFFF; color: #fa4e4e; padding: 3px 15px;}
.slide-content h3{margin: 20px 0px 0px; padding:0px; font-size: 26px;}
  .slide-content h3 span{display: inline-block; background-color: #fa4e4e; color: #FFFFFF; padding: 3px 15px;}

.slide-content p{margin-bottom: 0px;}
.top-header{display:block; padding:10px 0px; background-color:#000; color:#FFF;}
.top-header a{color:#FFF; font-weight:bold;}
.top-header a:hover{color:#F26522;}
.top-header ul{text-align:right;}
.top-header ul li{display:inline-block; margin-left:15px;}

  @media screen and (max-width:767px){
    .slide-content h1{font-size:16px; line-height: 1.5;}
	  .slide-content h3{display: none;}
    .home-slider .slick-active .slide-content {bottom:10px;left:10%; width:80%; right:10%;}
    .sticky{padding:0px !important;}
    .logo img{position: absolute; top:auto;}
    .logo img{height: 40px; width:auto;}
     header{padding-top: 10px; padding-bottom: 10px; min-height: 50px;} 
    .ownmenu > li.showhide{top:-5px;}
    .ownmenu{margin-top: 40px;}
    .sub-banner h2{font-size:30px;}
	.slide-content h1{font-size: 20px; text-transform:none;}
  }